body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;

    #header {
        width: 100%;
        height: 90vh;

        background-image: url(../frontend/images/background.jpg);
        background-attachment: fixed;
        background-position: 49.35% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        transition: 1s;
        transition-timing-function: ease;

        #navbar {
            position: relative;
            width: 100%;
            height: 100px;

            background-color: #E4002B;

            #logo-container {
                position: absolute;
                left: 8%;

                margin: 15px 10px;
                padding: 10px 10px 6px 10px;

                background-color: #89001A;

                @media screen and (max-width: 680px) {
                    left: 2%;
                }
            }

            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                text-transform: uppercase;
                text-align: center;
                font-family: 'Lora', serif;
                color: #FFFFFF;

                @media screen and (max-width: 680px) {
                    width: 300px;
                    right: 4%;
                    left: auto;
                    transform: translate(0, -50%);

                    text-align: end;
                    font-size: 20px;
                }
            }
        }
    }

    .hidden {
        height: 0px;
        padding: 0px !important;
    }

    #departments-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        overflow: hidden;
        justify-content: center;

        margin: 0px auto;
        padding-top: 20px;

        transition: 1s;
        transition-timing-function: ease;

        @media screen and (max-width: 1600px) {
            max-width: 1300px;
        }

        @media screen and (max-width: 1320px) {
            max-width: 980px;
        }

        @media screen and (max-width: 990px) {
            max-width: 650px;
        }

        @media screen and (max-width: 680px) {
            max-width: 300px;
        }

        .department-card {
            width: 20%;
            min-height: 250px;
            padding: 10px;

            @media screen and (max-width: 1600px) {
                min-width: 25%;
            }

            @media screen and (max-width: 1320px) {
                min-width: 33%;
            }

            @media screen and (max-width: 990px) {
                min-width: 50%;
            }

            @media screen and (max-width: 680px) {
                min-width: 100%;
            }

            .department-button {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 300px;
                height: 100%;

                .department-image-container {
                    position: absolute;
                    top: 0px;

                    background-image: linear-gradient(0deg, #E4002B 5px, #FFFFFF 5px);

                    transition: 1s;
                    transition-timing-function: ease;

                    img {
                        width: 300px;
                        height: 170px;

                        object-fit: cover;
                        object-position: center;

                        transition: 1s;
                        transition-timing-function: ease;
                    }
                }

                .department-image-container:hover {
                    box-shadow: inset 0px -200px 0px -10px #E4002B;

                    img {
                        opacity: 0.3;
                    }
                }

                h2 {
                    position: absolute;
                    top: 180px;
                    text-align: start;
                }
            }
        }
    }

    #departments-container-hider {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;

        background-color: #E4002B;
        text-transform: uppercase;
        color: #FFFFFF;

        img {
            margin: 0px 10px;
        }
    }

    #objects {
        max-width: 1600px;
        height: 820;
        margin: 0px auto;

        @media screen and (max-width: 1600px) {
            max-width: 1300px;
        }

        @media screen and (max-width: 1320px) {
            max-width: 980px;
        }

        @media screen and (max-width: 990px) {
            max-width: 650px;
        }

        @media screen and (max-width: 680px) {
            max-width: 300px;
        }

        #objects-container {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            gap: 20px;
            max-width: 100%;
            min-width: 0px;

            @media screen and (max-width: 1600px) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            @media screen and (max-width: 1320px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @media screen and (max-width: 990px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media screen and (max-width: 680px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            .object-container {
                width: 100%;

                .object-image-container {
                    display: flex;
                    width: 100%;
                    height: 250px;
                    justify-content: center;
                    align-items: center;

                    background-color: #F0F0F0;

                    img {
                        max-width: 100%;
                        max-height: 100%;

                    }
                }

                h3 {
                    height: 65px;
                    overflow: hidden;
                    padding-top: 15px;
                }

                h4 {
                    max-height: 44px;
                    overflow: hidden;
                    font-weight: 500;
                }
            }
        }
        
        #pagination-container {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                border: 1px solid #DDDDDD;
                padding: 8px 16px;

                background-color: #F0F0F0;
                text-decoration: none;
                color: #89001A;

                transition: background-color 0.3s ease-in-out;
            }

            #pagination {
                height: fit-content;
                border-radius: 5px;

                a:first-child {
                    margin-right: 10px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                a:last-child {
                    margin-left: 10px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                a.active {
                    background-color: #E4002B;
                    color: #FFFFFF;
                }

                a:hover:not(.active) {
                    background-color: #DDDDDD;
                }
            }
        }
    }
}